h1 {
    color: lavender;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: lavender;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: lavender;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(95, 11, 88, 0.5);
    border-radius: 10px;
    
}

body {
    padding: 150px;
    margin: 0;
    background-color: rgb(80, 18, 94);

}

img {
    
    border-radius: 10px;
    border: solid;
    border-width: 10px;
    border-color: rgb(61, 1, 55);
    margin-bottom: 10px;
}

.side_images {
    border-color: rgb(61, 1, 55);
    display: flex;
    gap: 20px;
}

a img{
    text-decoration: none;
    border-color: rgb(61, 1, 55);
}

a {
    text-decoration: none;
    color: lavender;
}

Link:hover {
    color: black;
}

button:hover {
    background-color: rgb(255, 172, 70);
}

button {
    width: 200px;
    border-radius: 10px;
    border: solid;
    border-width: 10px;
    border-color: rgb(61, 1, 55);
    background-color: orchid;

    display: flex;
    align-items: center;
    
    justify-content: center;

    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.navbar {
    border-color: rgb(61, 1, 55);
    display: flex;
    gap: auto;
}
